<% provide(:title, "Edit staff") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="wapper col-md-6 col-md-offset-3">
    <%= form_for(@staff, html: { multipart: true }) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      
      <%= f.label :joktype %>
      <%= f.select :joktype, options_for_select([["weekday"], ["specialty"], ["none"]]), class: 'form-control' %>
      
      <%= f.label :hometown %>
      <%= f.text_field :hometown, class: 'form-control' %>
      
      <%= f.label :intrests %>
      <%= f.text_field :intrests, class: 'form-control' %>
      <%= f.label :duties, "What do you do at the station?" %>
      <%= f.text_field :duties, class: 'form-control' %>
      <%= f.label :fav_music, "Favorite mucis genres and artists" %>
      <%= f.text_field :fav_music, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      
      <span class="picture">
        <h3>Profile Picture</h3>
        <%= f.file_field :photo, accept: 'image/jpeg,image/gif,image/png' %>
      </span>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>