<% provide(:title, @staff.name) %>

  <div class="row">
    <div class="col-sm-8">

        <div class="row">
          <div class="wapper">
            <div>
              <h1><%= @staff.name %></h1>
                <% if @staff.duties.present? %>
                <h4> <%= @staff.duties %> </h4>
                <% end %>
                <hr>
            </div>
            <div class="col-sm-6">
              
              <% if @staff.photo %>
                <%= image_tag(@staff.photo.url, width:300) %>
              <% else %>
              
              <% end %>
              
              <% if @staff.blogposts.any? %>
                <h3>Blogposts (<%= @staff.blogposts.count %>)</h3>
                <ol class="blogposts">
                  <%= render @blogposts %>
                </ol>
                <%= will_paginate @blogposts %>
              <% end %>
            </div>
            <div class="col-sm-6">
              <h2>About Me</h2><hr>
                <% if @staff.hometown.present? %>
                <h4><b>Hometown:</b> <%= @staff.hometown %></h4>
                <% end %>
                <% if @staff.intrests.present? %>
                <h4><b>Intrests:</b></h4>
                <h5><%= @staff.intrests %></h5>
                <% end %>
                <% if @staff.fav_music.present? %>
                <h4><b>Favorite Music:</b></h4>
                <h5><%= @staff.fav_music %></h5>
                <% end %>
  
              </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
      <%= render 'shared/aside' %>
    </div>
  </div>
