
<li id="blogpost-<%= blogpost.id %>">
  
  <%= link_to gravatar_for(blogpost.staff, size: 50), blogpost.staff %>
  <%= image_tag(blogpost.picture.url(:thumb), height:100) if blogpost.picture? %>
  <h3><%= link_to blogpost.title, blogpost %></h3>
  <p><%= blogpost.subtitle %></p>
  <span class="timestamp">
    <%= link_to blogpost.staff.name, blogpost.staff %>
    | Posted <%= time_ago_in_words(blogpost.created_at) %> ago.
    <% if logged_in? && current_staff?(blogpost.staff) %>
      <%= link_to "delete", blogpost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>

</li>