<div class="row">
    <div class="col-sm-8">
        <div class="sec-head panel panel-default">
            <div class="panel-body">
                <h3><%= @blogpost.title %></h3>
                <p><%= link_to @blogpost.staff.name, @blogpost.staff %> 
                | Posted <%= time_ago_in_words(@blogpost.created_at) %> ago.
                <% if current_staff?(@blogpost.staff) %>
                     <%= link_to "edit", edit_blogpost_path(@blogpost) %>
                      | <%= link_to "delete", @blogpost, method: :delete,
                                       data: { confirm: "You sure?" } %>
                <% end %>
                </p>
            </div>
        </div>
        <div class="f-right"> <%= image_tag(@blogpost.picture.url, height:400) if @blogpost.picture? %> </div>
        <p><%= @blogpost.content %></p>
        
    </div>
    <div class="col-sm-4">
      <p>This column is for adds and links to featured items</p>
    </div>
</div>