<div class="wapper">
    <div class="cbox">
    <h1> The George E. Beine '61 Studio A </h1>
    <p><b>George Beine symbolizes WVBR-FM’s classical and jazz era (c. 1958 – 68) and its presence in the basement of Willard Straight Hall, next to the Rock Garden, from 1948 to 1972. The alumni of the classical and jazz era honored George and their days at WVBR by naming the main production studio the "George E. Beine '61 Studio A."</b></p>
    <hr>
    <div style="float:right; margin:20px"><%= image_tag("Plaque.jpg", width: "280")  %> </div>
    <p>Beine was probably the finest announcer of that era, with a deep, calm voice particularly suited to the format. This is an (almost) serious clip of George in his usual role of classical music announcer.</p>


    <%= audio_tag("beine.mp3", controls: true) %>

    

    <p>Back in the 1960s, MJ Productions of Columbus, Ohio ran an ad in Billboard offering a sample package of five station breaks for $2. 
    Someone at VBR made this investment. Suffice it to say that at 40 cents apiece, the breaks were a bit overpriced. 
    However, the VBR staff took them as a challenge, and responded by producing their own five ads for MJ. 
    This clip from one of them includes snippets of MJ's original offerings and the voice of George Beine. 
    </p>
    <%= audio_tag("MJ_Breaks.mp3", controls: true) %>
  
    <h3>
        Memories of George
    </h3>
    
    <p>
        "George was more than a voice. I remember him reading the summary of the opera from the back of the jacket live on the air. When he gave it to me to put the record away I realized it was in German. I know there were others who could have done that, but would they?" - Steve Gauss
    </p>
    <div style="float:left; margin:10px"><%= image_tag("Beine Yearbook.jpg", width: "500")  %> </div>
    <p>
        "Don't know some of the other classical announcers over the years, but George brought a set of "pipes" that most of the rest of us envied!" - Ray Voss
    </p>
    <p>
        "Any number of aspiring announcers, me included, longed for the invention of a 'George Beine Machine' to lower the pitch of our voices without changing the speed." - Tom Preston
    </p>
    <p>
        "I also used to be his engineer for recording the classical music program (all the breaks for the week
        were taped in one session). Early in his career at WVBR, George also read news. Once, while he was
        reading from a long tear sheet (a very long sheet of news torn off from our teletype machine) we lit the
        bottom of the paper. As the flames approached the part George was reading he never missed a beat,
        his beautiful delivery never changed. When the flames reached his fingers he dropped the burning
        sheets and finished the newscast with never a tremor."
    </p>
    
    <h3>Life</h3>
    <p>Beine was born in Rochester, NY on September 29, 1939. He attended Benjamin Franklin High School there before matriculating in 1956 at Cornell where he studied Electrical Engineering, receiving a Bachelor of degree in 1961 and a Master of Science in 1964. He was reportedly first in his class.</p>

    <p>Beine went on to become a Professor of Electrical Engineering at the University of Cincinnati, and president of Gnomon, Inc. in Cincinnati. He was a member of the Institute of Electrical and Electronic Engineers (IEEE), the Technical Association of the Pulp and Paper Industry (TAPPI), and the Association for Computing Machinery (ACM).</p>
    
    <p>George Beine died on March 11, 1989 at the age of 49.</p>
    
    <h3>Studio A Today</h3>
    <p style="margin:10px">Below, WVBR celebrates its Ribbon Cutting and new home in Studio A on March 15, 2014</p>
    
    <div style="float:left; margin:10px"><%= image_tag("gb-1.JPG", width: "470")  %> </div>
    <div style="float:right; margin:10px"><%= image_tag("gb-2.JPG", width: "470")  %> </div>
    
    <p style="clear:both; margin: 10px;">Studio A serves as the home of WVBR's record library and main production capabilities. It is the source of Tuesdays with the Band
    and allows local and traveling artists to be heard on air. The beautiful, record-lined space with clever sound insulation provides an optimal performance area. </p>
    <div style="margin:10px;"><%= image_tag("gb-3.JPG", width: "700")  %> </div>
    
    </div>
</div>