<% meta_tag :description, "WVBR FM a non-profit organization and community radio station broadcasting out of Ithaca NY." %>



<!--Main Casosol Here-->

<div id="home-1" class="body-element">
	

	<div id="carousel" class="carousel slide carousel-fade">
	  <% n = @images.size %>
		<div class="carousel-inner">
		<div class="active item"><img src="/assets/home-1.png"/></div>
		<% @images.each do |image| %>
		    <div class="item"><%= image_tag image.picture.url  %> </div>
		<% end %>
		<a class="carousel-control left" href="#carousel" data-slide="prev">  </a>
		<a class="carousel-control right" href="#carousel" data-slide="next">  </a>
		</div>
		  
	</div>

  
</div>


<div class="body-element w-ad">
</div>
<!--# blogs and 3 podcasts featured below-->
<div id="home-2" class="body-element">


	<% @blogs.each do |blog| %>
		<% if blog.picture? %>
			<div class="img-box"  style="background-image: url(<%= blog.picture%>)">
		<% else %>
			<div class="img-box">
		<%end%>
	    
	        <div class="box-title"> 
	            <h4><%= link_to blog.title, blog  %></h4>
	        </div>
	    </div>
	<% end %> 

	<% @podcasts.each do |pod| %>
	    <div class="img-box" style="background-image: url(<%= pod.image.picture if pod.image %>)">
	        <div class="box-title"> 
	            <h4><%= link_to pod.title, pod  %></h4>
	        </div>
	    </div>
	<% end %> 
	
</div>

<div id="home-3" class="body-element">
  <div class="cal-block">
    
    <h3 class="center">UPCOMING EVENTS</h3>
    
    <% @events.each do |event| %>
    	<div class="event">
		    <div class="date">
		    	<h2>
		    		<%= event.date.strftime('%^b')%> <br>
		    		<%= event.date.strftime('%e')%>
		    	</h2>
		    </div>
		    <p><%= link_to event.name, event  %></p>  
       		<p><%= event.location %></p>
		</div>
    <% end %>
  </div>
  
  <div class="cal-block">
    <h3 class="center">FEATURED</h3>
    <div id="hangar-ad">
    	<img src="/assets/hangar.jpg" width="300"/>
    	<a target="blank" href="http://www.hangartheatre.org/"><h3 class="center">Visit Hangar website<h3></a>
    	
    </div>
    <div id="hangar-ad">
    	<img src="/assets/ktclogo.jpg" width="300"/>
    	<a target="blank" href="http://www.kitchentheatre.org/"><h3 class="center">Visit KTC website<h3></a>
    </div>
    <div id = "hangar-ad">
	    <img src = "/assets/mccormick_2.jpg" width = "300"/>
	    <a target = "blank" href = "https://living.cornell.edu/dine/wheretoeat/cafescoffeehouses/mccormicks.cfm"><h3 class="center"> Visit McCormick's Website <h3></a>
    </div>
		</div>
</div>




<script>
	$(document).ready(function(){
		$('#carousel').carousel();
		
		$('.dropable').click(function(){
			$('#closings').animate({
           		height: $('#closings').get(0).scrollHeight
       		}); 
		});
		$('#hide').click(function(){
			$('#closings').animate({
           		height: '50px'
       		}); 
		});
	});
</script>
