<div id="on-air" class="aframe">
    <p>on air now</p>
</div>

<div id="carousel" class="carousel slide carousel-fade">
  <% n = @images.size %>
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <% n.times do %>
    <li data-target="#carousel" data-slide-to="<%= n %>"></li>
    <% end %>
  </ol>
  
  <div class="carousel-inner">
    <div class="active item"><img src="/assets/newest604.jpg"/></div>
    <% @images.each do |image| %>
        <div class="item"><%= image_tag image.picture.url  %> <div class="topleft"><%= image.title %></div></div>
    <% end %>
  </div>

  <a class="carousel-control left" href="#carousel" data-slide="prev">‹</a>
  <a class="carousel-control right" href="#carousel" data-slide="next">›</a>
</div>

<div id="ad-square">
    <p>ad 1</p>
</div>
<div id="promote" >
    <img src="/assets/djservice.jpg" width="970px" height="150px" />
</div>
<div id="podcasts" class="aframe">
    <h3> Podcasts </h3>
    <ul>
    <% @podcasts.each do |pod| %>
        <li><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>  <%= link_to pod.title, pod  %></li>
    <% end %>
    </ul>
</div>
<div id="blogs" class="aframe">
    <div><h3> From our DJs </h3></div>
    <ul>
    <% @blogs.each do |blog| %>
        <li><%= link_to blog.title, blog  %></li>
    <% end %>
    </ul>
</div>
<div id="ad-lgrec">
    <p>ad 2 </p>
</div>



