<div class="wrap1">
    <div id="on-air">
        <h3><b>ON AIR NOW</b></h3>
        <div>
        <h5><b>The Rock and Roll Club</b></h5>
        <h6>Anna Kryczka, Sanat Valencha and Steve Brightenstein</h6>
        <p>Four hours of nothing but vinyl every firday night. Listen to music strait from the grooves of our favorite records. </p>
        </div>
        
        <h4>Listener Line -- 607-273-2121</h4>
        <hr>
        <div id="donate"> CLICK HERE TO DONATE! </div>
        
    </div>

    
    <div class="caro">
    <div id="carousel" class="carousel slide carousel-fade">
        
      <% n = @images.size %>
      <ol class="carousel-indicators" >
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <% n.times do %>
        <li data-target="#carousel" data-slide-to="<%= n %>"></li>
        <% end %>
      </ol>
    
      <div class="carousel-inner">
        <div class="active item"><img src="/assets/newest604.jpg"/></div>
        <% @images.each do |image| %>
            <div class="item"><%= image_tag image.picture.url  %> <div class="topleft"><%= image.title %></div></div>
        <% end %>
      </div>
    
      <a class="carousel-control left" href="#carousel" data-slide="prev"> ‹ </a>
      <a class="carousel-control right" href="#carousel" data-slide="next"> › </a>
      
    </div>
    </div>

</div>

<div id="promote" >
    <img src="/assets/djservice.jpg" width="970px" height="150px" />
</div>
  <div class="row">
    <div class="col-sm-8">
         <div class="bframe" id="blogs">
            <h3> DJ BLOGS </h3>
            <table>
                <% @blogs.each do |blog| %>
              <tr>
                 <% blog.each do |b| %>
                    <td>
                        <%= image_tag(b.picture.url(:thumb), height:100) if b.picture? %>
                        <h6><%= link_to b.title, b  %></h6>
                        <h5><%= link_to b.staff.name, b.staff  %>  - <%= time_ago_in_words(b.created_at) %> ago.</h5>
                        <p><%= truncate(b.content, length: 200)  %></p>
                    </td>
                 <% end %>
              </tr>
              <% end %>
            </table>
            <ul>

            <h6 ><%= link_to "See all blogs", blogposts_path  %> </h6>
        </div> 

    </div>
    <div class="col-sm-4">
      <p>This column is for adds and links to featured items</p>
    </div>
  </div>

<div id="news" class="aframe">
    <div class="newspic"><%= image_tag(@image.picture,  width:"300px", height:"400px") %></div>
    <div>
        <h3> News Center </h3>
    </div>
    <div>
    <ul>
    <% @news.each do |news| %>
        <li><%= link_to news.title, news  %></li>
    <% end %>
    </ul>
    </div>
</div>


<div id="podcasts" class="aframe">
    <div><h3> Podcasts </h3></div>
    
    <ul>
    <% @podcasts.each do |pod| %>
        <li> <%= link_to pod.title, pod  %></li>
    <% end %>
    </ul>
</div>

<div id="ad-lgrec">
    <h2>ad </h2>
</div>




