<div class="row">
    <div class="col-sm-8">
        <div class="sec-head panel panel-default">
            <div class="panel-body">
                <h1><%= @top.title %></h1>
                 <% if logged_in? && (current_staff.admin?) %>
                    <%= link_to "edit", edit_top_ten_path(@top) %>
                    | <%= link_to "delete", @top, method: :delete,
                    data: { confirm: "You sure?" } %>
                <% end %>
            </div>
        </div>
    <div class="wapper">
        <p><%= @top.description %></p>
        
        
        <p> #10:  <%= @top.ten_song %> by <%= @top.ten_artist %> </p>
        <p> #9:  <%= @top.nine_song %> by <%= @top.nine_artist %> </p>
        <p> #8:  <%= @top.eight_song %> by <%= @top.eight_artist %> </p>
        <p> #7:  <%= @top.seven_song %> by <%= @top.seven_artist %> </p>
        <p> #6:  <%= @top.six_song %> by <%= @top.six_artist %> </p>
        <p> #5:  <%= @top.five_song %> by <%= @top.five_artist %> </p>
        <p> #4:  <%= @top.four_song %> by <%= @top.four_artist %> </p>
        <p> #3:  <%= @top.three_song %> by <%= @top.three_artist %> </p>
        <p> #2:  <%= @top.two_song %> by <%= @top.two_artist %> </p>
        <p> #1:  <%= @top.one_song %> by <%= @top.one_artist %> </p>

    </div>
    </div>

    <div class="col-sm-4">
      <p>This column is for adds and links to featured items</p>
    </div>
</div>