<div class="row">
<div class="col-md-12 wapper">
<h1> WVBR Concert Log</h1>
<hr> <hr>    
    <h2  id="month">  <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B, %Y") %>
    <%= link_to ">", date: @date.next_month %> </h2>
    
    <%= calender @date do |date| %>
        <%= date.day %>
        <% if @events_by_date[date] %>
            <ul>
                <% @events_by_date[date].each do |event| %>
                    <li> <%= link_to event.name, event %> </li>
                <% end %>
            </ul>
        <% end %>
    <% end %>
</div>

<div class="col-md-12 wapper">
    <%= will_paginate %>
        <% @events.each do |event| %>
              <p><b><%= link_to event.name, event %></b> |
              <%= event.date.strftime('%a %d %b %Y') %> | <%= event.time.strftime('%r') %> | <%= event.location %></p>
          <% end %>
    <%= will_paginate %>

</div>



</div>