<div class="row">
<div class="col-md-12">

    <%= link_to "<", date: @date.prev_month %> 
    <h2 id="month"><%= @date.strftime("%B, %Y") %></h2>
    <%= link_to ">", date: @date.next_month %> 
    <%= calender @date do |date| %>
        <%= date.day %>
        <% if @events_by_date[date] %>
            <ul>
                <% @events_by_date[date].each do |event| %>
                    <li> <%= link_to event.name, event %> </li>
                <% end %>
            </ul>
        <% end %>
    <% end %>
</div>




<div class="col-md-12">
    <%= will_paginate %>
        <% @events.each do |event| %>
              <h2><%= link_to event.name, event %></h2>
              <p><%= event.date.strftime('%a %d %b %Y') %></p>
              <p><%= event.time.strftime('%r') %></p>
              <p><%= event.location %></p>
          <% end %>
    <%= will_paginate %>

</div>
</div>