<h1>Shifts#index</h1>
<p>Find me in app/views/shifts/index.html.erb</p>

<ul class="blogposts">
    <% @shifts.each do |show| %>
      <li>
        <h2><%= show.title %></h2>
        <h6><%= show.day %></h6>
        <% show.staffs.each do |staff| %>
            <p><%= staff.name %></p>
        <% end %>
        <% if logged_in? %>
        <%= link_to "edit", edit_show_path(show) %>
        | <%= link_to "delete", show, method: :delete,
                    data: { confirm: "You sure?" } %>
        <% end %>
      </li>
    <% end %>
</ul>