<div class="wapper">
<h1>All Shifts</h1>
<hr>

<div class="boxlist">
    <% @shifts.each do |show| %>
        <h2><%= show.title %></h2>
        <h6><%= show.day %></h6>
        <% show.staffs.each do |staff| %>
            <p><%= staff.name %></p>
        <% end %>
        <% if logged_in? %>
        <%= link_to "edit", edit_shift_path(show) %>
        | <%= link_to "delete", show, method: :delete,
                    data: { confirm: "You sure?" } %>
        <% end %>
        <hr>

    <% end %>
</div>
</div>