<section class="blogpost_form">
      
  <%= form_for(@specialty_show) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control' %>

      <%= f.label :day %>
      <%= f.text_field :day, class: 'form-control' %>


      <%= f.submit "Create new show", class: "btn btn-primary" %>
    <% end %>
  
  </section>