<div class="wapper">
    <div class="col-md-12">
    <h1 class="page-title"> Studio A Reservation Calenda  </h1><hr>
        <h2  id="month">  <%= link_to "<", date: @date.prev_month %>
        <%= @date.strftime("%B, %Y") %>
        <%= link_to ">", date: @date.next_month %> </h2>
        
        <%= calender @date do |date| %>
            <%= date.day %>
            <% if @events_by_date[date] %>
                <ul class="date">
                    <% @events_by_date[date].each do |event| %>
                        <li class="date-entry"> 
                        <b><%= event.name %> </b> <br>
                        <%= event.time.strftime('%I:%M%p') %> - <%= event.endtime.strftime('%I:%M%p') if event.endtime %>
                        </li>
                    <% end %>
                </ul>
            <% end %>
        <% end %>
    </div>

</div>