<div class="col-sm-8">
	<div class="wapper">
		<h1>Manage Home Page Carousel</h1>
        <h4><%= link_to "Add to carousel",   carousel_path %></h4>
        <hr>
        <% @images.each do |image| %>
        <%= image_tag(image.picture.url, width: "50%")  %>
        <p><%= image.title  %></p>
        <p>
            <%= image.description  %> 
            <%= link_to "Remove from carousel", image, method: :delete, data: { confirm: "You sure?" } %>
        </p>
        <hr>
        <% end %> 
    </div>
</div>