<section class=" wapper blogpost_form">
  <h1>New Show</h1>
  <hr>
  <%= form_for(@show, :html => {:multipart => true}) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    
    <%= f.label :catergory %>
    <%= f.select :catergory, options_for_select([["specialty"], ["podcast"]]), class: 'form-control' %>
    
    <b> Select DJs affiliated with this show</b>
    <% staff = Staff.active.activated.map { |s| [s.name, s.id] } %>
    <% staff << ["Select DJ", 0] %>
    <% 3.times do %>
      <%= select_tag(name="choice[]", options_for_select(staff, 0)) %>
    <% end %>
    
      <b>Image:</b>
      <ul class="image-form">
        <%= f.fields_for :images do |builder| %>
          <%= render "images/image_fields", :f => builder %>
        <% end %>
      </ul>
    
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.text_area :description, rows: 10, class: 'form-control' %>

      <%= f.label :day %>
      <%= f.select :day, options_for_select([["Monday"], ["Tuesday"], ["Wednesday"], ["Thursday"], ["Friday"], ["Saturday"], ["Sunday"]]), class: 'form-control' %>
      
      <%= f.label :start %>
      <%= f.time_field :start, class: 'form-control' %>
      
      <%= f.label :end %>
      <%= f.time_field :end, class: 'form-control' %>


      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  
  </section>