  <div class="row">
    <div class="col-sm-8">

        <div class="wapper showshow">
          <h1> <%= @show.name %> </h1>
          
            <% if @show.catergory === "specialty" %>
              <h4><%= @show.day %> | <%= @show.start.strftime("%H:%M%p") %> - <%= @show.end.strftime("%H:%M%p") %></h4>
              <p>
              <% @show.staffs.each do |staff| %>
                  <%= staff.name %>
              <% end %></p>
            <% end %>
        
                <% if logged_in? && (current_staff.admin?) %>
                    <p><%= link_to "edit", edit_show_path(@show) %>
                    | <%= link_to "delete", @show, method: :delete,
                    data: { confirm: "You sure?" } %>
                    | <%= link_to "post a blog", new_blogpost_path(@show) %></p>
                <% end %><hr>

        <% if @show.images.exists? %>
            <% @show.images.each do |image| %>
                <div class="center"><%= image_tag(image.picture.url, width: 600) %></div>
            <% end %>
        <% end %>
        <hr>
        <p><%= @show.description %> </p>
        
        
        
        <h2>Posts (<%= @show.blogposts.count %>)</h2>
        <hr>
        <% @show.blogposts.each do |blogpost| %>
        <h3><%= link_to blogpost.title, blogpost %></h3>
        
        <span class="timestamp">
            <%= link_to blogpost.staff.name, blogpost.staff %>
            | Posted <%= time_ago_in_words(blogpost.created_at) %> ago.
            <% if logged_in? && current_staff?(blogpost.staff) %>
              <%= link_to "delete", blogpost, method: :delete,
                                               data: { confirm: "You sure?" } %>
            <% end %>
        </span>
        <p><%= blogpost.subtitle %></p><hr>
        <% end %> 
        
        
        
        
        <% if  @show.podcasts.any? %>
          <% @show.podcasts.each do |podcast| %>
            <div>
              <h2><%= link_to podcast.title, podcast %></h2>
              <span class="timestamp">
                Posted <%= time_ago_in_words(podcast.created_at) %> ago.
                <% if current_staff?(podcast.staff) %>
                  <%= link_to "delete", podcast, method: :delete, data: { confirm: "You sure?" } %>
                <% end %>
                  </span>
                  <p>Genre: <%= podcast.catergory %></p>
                  
                  <audio controls>
                  <source src=<%= podcast.audio.url %> type="audio/mp3">
                  Your browser does not support the audio element.
                  </audio>

            </div>
         <% end %>
        <% end %>
        
        </div>
        
        </div>
    <div class="col-sm-4">
      <p>This column is for adds and links to featured items</p>
  </div>





