  <div class="row">
    <div class="col-sm-8">
        <div class="sec-head panel panel-default">
            <div class="panel-body">
                <h1>Podcasts</h1>
            </div>
        </div>
        
        <div class="wapper">
        <% @podcasts.each do |podcast| %>
            <div>
              <h2><%= link_to podcast.title, podcast %></h2>
              <span class="timestamp">
                Posted <%= time_ago_in_words(podcast.created_at) %> ago.
                <% if current_staff?(podcast.staff) %>
                  <%= link_to "delete", podcast, method: :delete, data: { confirm: "You sure?" } %>
                <% end %>
                  </span>
                  <p>Genre: <%= podcast.catergory %></p>
                  
                  <audio controls>
                  <source src=<%= podcast.audio.url %> type="audio/mp3">
                  Your browser does not support the audio element.
                  </audio>

            </div>
         <% end %>
         </div>

    </div>
    <div class="col-sm-4">
      <p>This column is for adds and links to featured items</p>
  </div>
