<li>
    
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
     
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %>
    
    <%= f.check_box '_destroy' %>
    <%= f.label :_destroy, "Remove Image" %>
    <%= image_tag f.object.picture.url(:thumb) %>
            
    <span class="picture">
                <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
    </span>
</li>