<div class="wideblock" id="footr">
 <div class="legal">
    <p>
      <b>About WVBR</b>
      <br> WVBR is an independent, non-profit commercial radio station broadcasting from Ithaca, New York to the Counties of Tompkins, Tioga, Cortland, Cayuga, Seneca, Schuyler, and Chemung.
      <br>© Cornell Media Guild, Inc.
      <br>All Rights Reserved.
    </p>
  </div>

   <h2>WVBR 93.5 FM ITHACA</h2>
   <h4>
    604 E Buffalo St | 
    Ithaca NY 14650 | 
    (607) 273 4000
   </h4>
   <table style="width:300px">
    <tr>
     <th><%= link_to("Home", root_path) %></th>
     <th><%= link_to("About", about_path) %></th>
    </tr>
    <tr>
     <th><%= link_to("Contact", contact_path) %></th>
     <th><%= link_to("Advertise", advertise_path) %></th>
    </tr>
    <tr>
     <th><%= link_to("Schedule", schedule_path) %></th>
     <th><%= link_to("Admin Login", login_path) %></th>
    </tr>
   </table>
   

</div>