
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
            
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  MUSIC <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Schedule", schedule_path %></li>
                  <li><%= link_to "Specialty Shows", shows_path %></li>
                  <li><%= link_to "Weekday Lineup", lineup_path %></li>
                  <li><%= link_to "Song History", songhistory_path %></li>
                </ul>
              </li>
              
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  STATION <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "About", about_path %></li>
                  <li><%= link_to "Station News", station_news_path %></li>
                  <li><%= link_to "R&R Patrol", promo_path %></li>
                  <li><%= link_to "Events", events_path %></li>
                  
                </ul>
              </li>
            
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  DJs <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "DJ Profiles", staffs_path %></li>
                  <li><%= link_to "DJ Blogs", blogposts_path %></li>

                </ul>
              </li>
            
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  LOCAL <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "News", news_path %></li>
                  <li><%= link_to "Concert Log", concerts_path %></li>
                  <li><%= link_to "Weather", weather_path %></li>

                </ul>
              </li>
              
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  PODCASTS <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">

                  <li><%= link_to "All Podcasts", podcasts_path %></li>
                </ul>
              </li>
              
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  CONTACT <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Contact Info", contact_path %></li>
                  <li><%= link_to "Advertise", advertise_path %></li>
                  <li><%= link_to "Donate", donate_path %></li>
                  <li><%= link_to "Social Media", social_path %></li>
                </ul>
              </li>
              
            
          </ul>

