<div id="first-header">
          
  <!-- Top main header goes here. -->
  <div style="width:80%; margin:auto">
    
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Wvbr-logo-.jpg/1200px-Wvbr-logo-.jpg" class="head-logo top-piece">
    </img>
    
    <a target="blank" href="http://www.streamlicensing.com/play/player.php?sid=4728&stream_id=8885" id="listen-button" class="fades header-right top-piece"> <b>LISTEN LIVE</b></a>
    
    <div class="header-right top-piece"> 
      <div class="fades social-button">
        <a href="https://www.facebook.com/WVBRFM" target="blank">
        <img class="icon" src="/assets/fb-icon.png"/>
        </a>
      </div>
      <div class="fades social-button">
        <a href="https://twitter.com/wvbr" target="blank">
        <img class="icon" src="/assets/twit-icon.png"/>
        </a>
      </div>
      <div class="fades social-button">
        <a href="https://www.instagram.com/wvbrfm/" target="blank">
        <img class="icon" src="/assets/insta-icon.png"/>
        </a>
      </div>
      <div class="fades social-button">
        <a href="https://open.spotify.com/user/wvbr" target="blank">
        <img class="icon" src="/assets/spotify-icon.png"/>
        </a>
      </div>
      <div class="fades social-button">
        <a href="https://beta.tunein.com/radio/WVBR-FM-935-s23473/" target="blank">
        <img class="icon" src="/assets/tunein-icon.png"/>
        </a>
      </div>
    </div>
  </div>
</div>


<nav id="second-header" class="navbar">
    <ul class="navbar-nav nav">
      <li><%= link_to "Home",   root_path %></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          MUSIC <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "Schedule", schedule_path %></li>
          <li><%= link_to "Specialty Shows", shows_path %></li>
          <li><%= link_to "Weekday Lineup", lineup_path %></li>
          <li><%= link_to "Song History", songhistory_path %></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          STATION <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Station News", station_news_path %></li>
          <li><%= link_to "R&R Patrol", promo_path %></li>
          <li><%= link_to "Events", events_path %></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          DJs <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "DJ Profiles", staffs_path %></li>
          <li><%= link_to "DJ Blogs", blogposts_path %></li>
          <li><%= link_to "Top Tens", top_tens_path %></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          LOCAL <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "News", news_path %></li>
          <li><%= link_to "Concert Log", concerts_path %></li>
          <li><%= link_to "Weather", weather_path %></li>
          <!-<li><%= link_to "Closings and Cancellations", closing_path %></li>->
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          PODCASTS <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "All Podcasts", podcasts_path %></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          CONTACT <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "Contact Info", contact_path %></li>
          <li><%= link_to "Advertise", advertise_path %></li>
          <li><%= link_to "Donate", donate_path %></li>
        </ul>
      </li>
      <li>
        <a style="color:black">LISTENER LINE: (607)273-2121</a>
      </li>
    </ul>
</nav>
